/venv/
requirements
bin
click*
flask
Flask-*
itsdangerous
itsdangerous-*
jinja2
Jinja2-*
markupsafe
Markupsafe-*
werkzeug
Werkzeug-*

/uploads
/.env
/colorama/__init__.py
/importlib_metadata/__init__.py
/importlib_metadata/_adapters.py
/importlib_metadata/_collections.py
/importlib_metadata/_compat.py
/importlib_metadata/_functools.py
/importlib_metadata/_itertools.py
/importlib_metadata/_meta.py
/importlib_metadata/_text.py
/colorama/ansi.py
/colorama/ansitowin32.py
/colorama/initialise.py
/colorama-0.4.4.dist-info/INSTALLER
/importlib_metadata-4.8.3.dist-info/INSTALLER
/typing_extensions-4.1.1.dist-info/INSTALLER
/zipp-3.6.0.dist-info/INSTALLER
/importlib_metadata-4.8.3.dist-info/LICENSE
/typing_extensions-4.1.1.dist-info/LICENSE
/zipp-3.6.0.dist-info/LICENSE
/colorama-0.4.4.dist-info/LICENSE.txt
/colorama-0.4.4.dist-info/METADATA
/importlib_metadata-4.8.3.dist-info/METADATA
/typing_extensions-4.1.1.dist-info/METADATA
/zipp-3.6.0.dist-info/METADATA
/importlib_metadata/py.typed
/colorama-0.4.4.dist-info/RECORD
/importlib_metadata-4.8.3.dist-info/RECORD
/typing_extensions-4.1.1.dist-info/RECORD
/zipp-3.6.0.dist-info/RECORD
/colorama-0.4.4.dist-info/top_level.txt
/importlib_metadata-4.8.3.dist-info/top_level.txt
/zipp-3.6.0.dist-info/top_level.txt
/typing_extensions.py
/colorama-0.4.4.dist-info/WHEEL
/importlib_metadata-4.8.3.dist-info/WHEEL
/typing_extensions-4.1.1.dist-info/WHEEL
/zipp-3.6.0.dist-info/WHEEL
/colorama/win32.py
/colorama/winterm.py
/zipp.py

